<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>TODO-list - Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet/less" type="text/css" href="/stylesheets/todo-list.less" />
  <link rel="stylesheet/less" type="text/css" href="/stylesheets/bootstrap.css" />
  <script type="text/javascript" src="/js/libs/socket.io-1.4.5.js"></script>
  <script type="text/javascript" src="/js/libs/jquery-3.1.1.min.js"></script>
  <script>
    less = {
      env: "development"
    };
  </script>
  <script src="/js/libs/less.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootflat.min.css">
  <script src="/js/libs/bootstrap.bundle.js"></script>
  <script src="/js/libs/icheck.min.js"></script>
  <script src="/js/libs/jquery.fs.selecter.min.js"></script>
  <script src="/js/libs/jquery.fs.stepper.min.js"></script>

</head>

<body>
  <div class="container">
    <div class="row" style="padding-top: 5%;">
      <div class="col-md-4">
        <form action="/login" method="post">
          <div class="card">
            <h5 class="card-header text-white bg-info mb-3">TODO List</h5>
            <div class="card-body">
              <!-- show any messages that come back with authentication -->
              <% if (message.length > 0) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Warning</strong>   <%= message %>.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <% } %>
              <div class="row">
                <div class="col-md-12">
                  <label>E-mail</label>
                  <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" style=" text-transform: uppercase;">
                </div>
                <div class="col-md-12">
                  <label> Password: </label>
                  <input type="password" class="form-control" pattern="[a-zA-Z0-9]+" name="password">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <br>
                  <p>
                    <button class="btn btn-primary" type="submit"> Log in </button>
                  </p>
                </div>
                <div class="col-md-12">
                  <p>
                    Do not have an account yet? <a href="/signup"> Sign up</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    sessionStorage.clear();
  </script>

</body>

</html>
